* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: "Nata Sans", sans-serif;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
nav {
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #10244c ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 32px;
    z-index: 1000;
    height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav .logo img{
    width: 120px;
    display: flexbox;
}

nav ul li a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
}
nav.scrolled {
    background: #10244c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul li a:hover {
    border-color: antiquewhite;
}

section{
    color: black;
}