* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #333;
    line-height: 1.6;
    padding-top: 90px;
    background-color: rgb(61, 61, 61);
}

html {
  scroll-behavior: smooth;
}

nav {
    font-size: 16px;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-image: url(../imgs/moonnsun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 32px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}


nav .logo img{
    width: 100px;
    display: flexbox;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}


nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid transparent;
    padding: 5px;
    padding-left: 14px;
    padding-right: 14px;
}


nav ul li a:hover {
    border-color: rgb(255, 255, 255);
}

 .container{
    margin: 50px;
    margin-top: 25px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    flex-direction: column;
    
}

.container p{
    font-size: 18px;
}

#titulo{
    font-size: 40px;
    text-align: center;
    padding: 20px;
    padding-top: 0%;
}

.texto-pokedex{
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}


.jump{
    text-align: center;
    background-color: #e7f7ff;
    border-radius: 5px;
    padding: 20px;
    justify-content: space-around;
}

.jump a{
    text-decoration: none;
    color: rgb(73, 96, 223);
    padding: 20px;
    margin-bottom: 20px;
    transition: color 0.2s ease;
}

.jump a:hover {
    color: rgb(26, 26, 26);
}

#alola, #melemele, #akala, #ulaula, #poni{
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: left;
    background-color: #e9e9e9;
    border-radius: 5px;
    padding-left: 5px;
}

#alola p{
    font-size: 15px;
}
h1, #titulo{
    color: black;
    letter-spacing: 0;
    
}


.lista-alola, .lista-melemele, .lista-akala, .lista-ulaula, .lista-poni{
    list-style: none;
    flex-wrap: wrap;
    gap: 7px;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    justify-content: start;
}



.pokemon{
margin: 10px;
width: 120px;
box-sizing: border-box;
display: block;
align-items: center;

}

.pokemon a{
    font-size: 12px;
    text-decoration: none;
}

.pokemon a:hover{
    text-decoration: underline;
}

.pokemon img{
   height: 128px;
}

.lista-alola .pokemon img{
    height: 80px;

}

#numero{
    color: #8b8b8b;
    font-size: 13px;
}

.nome-pokemon{
    font-size: 14px;
}

.itype.grama{
    color: #59f194;
}

.itype.inseto{
    color: #59f194;
}

.itype.normal{
    color: #6b6d64;
}

.itype.eletrico{
    color: #e6c81f;
}

.itype.psiquico{
    color: #f10085;
}

.itype.fada{
    color: #ec7eda;
}

.itype.sombrio{
    color: #5a4d3b;
}

.itype.veneno{
    color: #3a003f;
}

.itype.dragao{
    color: #2b0606;
}

.itype.fogo{
    color: #ff0808;
}

.itype.gelo{
    color: #64c1ff;
}

.itype.fantasma{
    color: #271136;
}

.itype.noturno{
    color: #6e196e;
}

.itype.metalico{
    color: #6a6599;
}

.itype.terrestre{
    color: #6d420a;
}

.itype.pedra{
    color: #3d2f1c;
}
.itype.agua{
    color: #749fcf;
}

.itype.voador{
    color: #62b5c4;
}

.itype.lutador{
    color: #91040b;
}